#Global path to single directory 
/ciolkowski/introduction/build 
/ciolkowski/workshop/build
/kazmierczak/introduction/build
/kazmierczak/workshop/build

#DS_store files
**/.DS_Store
.DS_Store

#All cmake-build-debug directiories 
cmake-build-debug

#All .idea 
.idea
*/.idea
